@page "/filmy/{Id:int}"
@using kinoUI.Models
@using kinoUI.Data
@using kinoUI.Controllers
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject FilmRatingController FilmRatingController

<div class="film-page">

    <div class="film-page-info">
        <div class="top-info">
            <div class="film-title">
                    @film.Title
            </div>
            <div class="film-page-rate">
                <img src="/img/star.png" width="50rem"/>
                @if(filmRating != null)
                            {
                                rate = 0;
                                int i = 0;
                                @foreach (FilmRating rating in filmRating)
                                {
                                    @if(rating.FilmId == film.Id)
                                    {
                                        rate += Convert.ToDouble(rating.Rate);
                                        i++;
                                    }
                                }
                                @if (i > 0)
                                {
                                    
                                rate = rate / Convert.ToDouble(i);
                                }
                            }
                            @Math.Round(Convert.ToDouble(@rate), 2) / 5
            </div>
        </div>
        <div class="center-info">
            <img src="@film.ImageUrl">
            <div class="description-info">
                <div class="description">
                    @film.Description
                </div>
                <div class="details">
                    <div class="d1">
                        <div class="og-title">oryginalny tytuł </div>
                        <div class="genre">gatunek </div>
                        <div class="year">premiera </div>
                        <div class="length">długość </div>
                    </div>
                    <div class="d2">
                        <div class="og-title">@film.OriginalTitle</div>
                        <div class="genre">@film.FilmGenre</div>
                        <div class="year">@film.ReleaseYear</div>
                        <div class="length">@film.LengthInMinutes min.</div>
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>

    <div class="add-comment">
        <div class="add-comment-box">
            
            <div class="new-comment">
                <textarea rows="5" cols="200" maxlength="400" @bind="newComment" placeholder="Dodaj komentarz..."></textarea>
            </div>
            <div class="rate-box">
                    <form class="rating" >
                                    <label>
                                        <input type="radio" name="stars" value="1" Checked="newRate" @onchange="OnSelect"/>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="2"  Checked="newRate" @onchange="OnSelect"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="3"  Checked="newRate" @onchange="OnSelect"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>   
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="4"  Checked="newRate" @onchange="OnSelect"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="5"  Checked="newRate" @onchange="OnSelect"/>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                    </form>
            </div>
        </div>
        <button  @onclick="CommentSubmit">Dodaj komentarz</button>
    </div>
    
    <div class="film-comments">
            @foreach (var rating in filmRating)
            {
                @if(rating.Comment != "")
                {
                    <div class="film-comment">
                        <div class="comment-box">
                            <div class="user-avatar">
                                User Id: @rating.UserId
                            </div>
                            <div class="rate-box">
                                    <img src="/img/star.png" width="20rem"/>
                                    <div class="rate">
                                        @rating.Rate / 5
                                    </div>
                            </div>
                        </div>
                        <div class="comment">
                            @rating.Comment
                        </div>
                    </div>
                }
                
            }
    </div> 
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    double rate = 0;

    Film film = new();
    List<FilmRating> filmRating = new();

    string newComment = "";
    string newRate = "5";
    bool isChcked = false;

    protected override async Task OnInitializedAsync()
    {
        film = await HttpClient.GetFromJsonAsync<Film>(NavigationManager.BaseUri + $"filmy/{Id}");
        filmRating = await HttpClient.GetFromJsonAsync<List<FilmRating>>(NavigationManager.BaseUri + $"filmyRating/{Id}");
    }

    public void OnSelect(Microsoft.AspNetCore.Components.ChangeEventArgs args) => newRate = (string)args.Value;
    
    public async Task CommentSubmit()
    {
        if(newRate != "")
        {
            FilmRating filmRating = new FilmRating
            {
                Rate = int.Parse(newRate),
                Comment = newComment,
                FilmId = Id,
                UserId = 1
            };

            await FilmRatingController.AddFilmRatingAsync(filmRating);
            newRate = "5";
            newComment = "";
        }
        
    }

}